/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.box {
    width: 500px;
    height: 150px;
    padding-top: 20px;
    border: 1px solid black;
    background-color: lightgrey;
}